* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-container.active {
    display: block;
}
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #c9c9f1;
}

.form-container {
    background-color: #b8d1ed;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 60vh;
    width: 35vw;
    text-align: center;
    display: none;
}
#signupContainer {
    height: 72vh;
}
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
button {
    width: 60%;
    padding: 10px;
    background-color: #3987e1;
    color: white; 
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 15px rgba(41, 139, 224, 0.4);
    transform: scale(1.03);
    font-weight: 700;
  }
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 0.3px;
  }
  label {
    font-size: 20px;
    font-weight: 500;
    display: block; 
    text-align: left;
  }
  input::placeholder {
    font-family: 'Montserrat', sans-serif;
  }
.h2Color {
    color:rgba(27, 49, 214, 0.4);
    font-size: 24px;
}